fastapi
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
requests
uvicorn
python-multipart
pytest
PyJWT
passlib[bcrypt]
bcrypt
pydantic-settings
psycopg[binary]
alembic
prometheus_fastapi_instrumentator